<?xml version="1.0" ?>
<virtualModel version="9.4.2.100">
    <resolutions>
        <fix assignedTo="Ingmar" priority="Medium" date="2015-10-26T09:25:30.452Z" description="">
            <type class="Architecture" name="ArchitectureViolation" descriptor="./Layers.arc"></type>
            <dependencyPattern type="Wildcard" from="Workspace:AlarmClock:./AlarmClock/target/classes:com:h2m:alarm:model:AlarmClock.java:AlarmClock:AlarmClock()" to="Workspace:AlarmClock:./AlarmClock/target/classes:com:h2m:alarm:presentation:AlarmToFile.java:AlarmToFile:AlarmToFile()"></dependencyPattern>
        </fix>
        <fix assignedTo="John Doe" priority="Medium" date="2017-06-01T07:01:48.109Z" description="Fix this violation">
            <type class="Architecture" name="ArchitectureViolation" descriptor="./Layers.arc"></type>
            <dependencyPattern type="Wildcard" from="Workspace:AlarmClock:./AlarmClock/src/main/java:com:h2m:alarm:model:AlarmClock.java:AlarmClock:AlarmClock()" to="Workspace:AlarmClock:./AlarmClock/src/main/java:com:h2m:alarm:presentation:AlarmToFile.java:AlarmToFile"></dependencyPattern>
        </fix>
        <fix assignedTo="IK" priority="Medium" date="2017-06-20T14:20:36.820Z" description="Sample Fix Resolution">
            <type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="DuplicateCodeBlock"></type>
            <elementPattern type="FullyQualifiedName">Files:BaseDirectory:SystemDirectory:Analyzers:DuplicateCode:./Modifiable.vm:e6d640a9915a85b0ead02a691deb1936|971cd1282934e5211370848a587c3b79</elementPattern>
            <matching info="2 occurrences with 52 line(s) found in 2 file(s)">
                <elementPattern type="FullyQualifiedName">Workspace:AlarmClock:./AlarmClock/src/main/java:com:h2m:alarm:presentation:AlarmClock.java</elementPattern>
                <elementPattern type="FullyQualifiedName">Workspace:AlarmClock:./AlarmClock/src/main/java:com:h2m:alarm:presentation:Main.java</elementPattern>
            </matching>
        </fix>
        <fix assignedTo="Ingmar" priority="Medium" date="2017-06-21T13:20:20.320Z" description="Extract method.">
            <type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="DuplicateCodeBlock"></type>
            <elementPattern type="FullyQualifiedName">Files:BaseDirectory:SystemDirectory:Analyzers:DuplicateCode:./Modifiable.vm:9f6dac3569223fb88b09670514c163f9|971cd1282934e5211370848a587c3b79</elementPattern>
            <matching info="2 occurrences with 52 line(s) found in 2 file(s)">
                <elementPattern type="FullyQualifiedName">Workspace:AlarmClock:./AlarmClock/src/main/java:com:h2m:alarm:model:AlarmClock.java</elementPattern>
                <elementPattern type="FullyQualifiedName">Workspace:AlarmClock:./AlarmClock/src/main/java:com:h2m:alarm:presentation:Main.java</elementPattern>
            </matching>
        </fix>
        <rename newName="AlarmClock2" language="Java" elementType="Component" assignedTo="" priority="Medium" date="2017-06-22T11:43:06.728Z" description="">
            <type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="RenameRefactoring" descriptor="2d2fd994a6ff3bcbe295f1afa369ab06"></type>
            <elementPattern type="FullyQualifiedName">Workspace:AlarmClock:./AlarmClock/src/main/java:com:h2m:alarm:model:AlarmClock.java</elementPattern>
        </rename>
        <move targetRootDirectory="Workspace:Foundation:./Foundation/src/main/java" moveToParentName="com.h2m.alarm" language="Java" elementType="Namespace" assignedTo="" priority="Medium" date="2017-06-23T10:21:06.181Z" description="">
            <type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="MoveRefactoring" descriptor="376bbb0bbefd1cd72ae240b2f976461c"></type>
            <elementPattern type="FullyQualifiedName">Workspace:AlarmClock:./AlarmClock/src/main/java:com:h2m:alarm:p1</elementPattern>
        </move>
        <fix assignedTo="Ingmar" priority="Medium" date="2017-06-23T10:21:41.109Z" description="Fix supertype reference.">
            <type class="Script" name="Supertype uses subtype" descriptor="./Core/SuperTypeUsesSubType.scr:Warning"></type>
            <dependencyPattern type="Wildcard" from="Workspace:AlarmClock:./AlarmClock/src/main/java:com:h2m:alarm:p1:C1.java:C1" to="Workspace:AlarmClock:./AlarmClock/src/main/java:com:h2m:alarm:p2:C2.java:C2"></dependencyPattern>
        </fix>
        <rename newName="C1_2" language="Java" elementType="Component" assignedTo="" priority="Medium" date="2017-06-27T12:31:15.583Z" description="">
            <type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="RenameRefactoring" descriptor="86253575c1e5e6265e52ee2944f0456c"></type>
            <elementPattern type="FullyQualifiedName">Workspace:Foundation:./Foundation/src/main/java:com:h2m:alarm:p1:C1.java</elementPattern>
        </rename>
    </resolutions>
</virtualModel>